<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.macrologandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".AddFoodActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditPersonalDetailsActivity"
            android:label="@string/title_edit_details"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdjustIntakeActivity"
            android:label="@string/title_adjust_intake"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditLogEntryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddLogEntryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".notifications.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notifications.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.HealthcheckService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.UserService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.LogEntryService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.FoodService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".services.AuthenticationService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>