<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.csl.macrologandroid.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".StartupActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".DishActivity" />
        <activity
            android:name=".ConnectivityActivity"
            android:exported="true">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="macrologandroid" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.macrolog.herokuapp.com"
                    android:pathPrefix="/callback"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeleteAccountActivity"
            android:label="@string/title_activity_delete_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".AddFoodActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditPersonalDetailsActivity"
            android:label="@string/title_edit_details"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdjustIntakeActivity"
            android:label="@string/title_adjust_intake"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditDiaryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ActivityActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AboutActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".WeightChartActivity" />

        <receiver
            android:name=".notifications.NotificationReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="NOTIFICATION_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".notifications.BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>