<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.macrologandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AddFoodActivity"></activity>
        <activity
            android:name=".SplashscreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditPersonalDetailsActivity"
            android:label="@string/title_edit_details"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AdjustIntakeActivity"
            android:label="@string/title_adjust_intake"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditLogEntryActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddLogEntryActivity"
            android:windowSoftInputMode="adjustResize" />

        <receiver android:name=".Notifications.NotificationReceiver">
            <intent-filter>
                <action android:name="NOTIFICATION_RECEIVED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.HealthcheckService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.AuthenticationService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>